<li id="chuanrs">
	<p id="chuantitles">{{chuanrtype}} </p>
	<button class="change-eaten" data-id="{{id}}" data-yeseaten="{{eaten}}">
		{{#if eaten}} OM NOM!! {{else}} GOOD! ANOTHER!! {{/if}}
	</button>
	<br>
	<button class="delete-chuanr" data-id="{{this.id}}" style="font-size: 10px">I DIDN'T WANT TO ORDER THIS!</button>
</li>
