<li>
	{{chuanrtype}}

	<button class="change-eaten" data-id="{{id}}" data-yeseaten="{{eaten}}">
		{{#if eaten}}DEVOURED!{{else}}OM NOM!{{/if}}
	</button>

	<button class="delete-chuanr" data-id="{{this.id}}">I DIDN'T WANT TO ORDER THIS!</button>
</li>
